@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.fckin {
  font-family: "Space Grotesk", sans-serif;
}

.scroll-hidden::-webkit-scrollbar{
  display: none;
}

.scroll-bar-cool::-webkit-scrollbar {
  width: 10px;
  background-color: #ccc;
}

.scroll-bar-cool::-webkit-scrollbar-thumb {
  background-color: #f17238;
  border-radius: 12px;
}

.scroll-bar-cool-1::-webkit-scrollbar {
  width:5px;
  background-color: #cccccc00;
}

.scroll-bar-cool-1::-webkit-scrollbar-thumb {
  background-color: #000;
  border-radius: 12px;

}

@keyframes moveUpAndDown {
  0% {
    transform:  translateY(0px);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0px);
  }
}

.movingElement {
  animation: moveUpAndDown 2s ease-in-out infinite; /* Adjust the animation duration as needed */
}